@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/font_awesome/FontAwesome.otf')  format('opentype'),
       url('../fonts/font_awesome/fontawesome-webfont.ttf')  format('truetype');
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/helvetica_neue/HelveticaNeue/HelveticaNeue.eot') format('embedded-opentype'),
       url('../fonts/helvetica_neue/HelveticaNeue/HelveticaNeue.woff') format('woff'),
       url('../fonts/helvetica_neue/HelveticaNeue/HelveticaNeue.ttf')  format('truetype'),
       url('../fonts/helvetica_neue/HelveticaNeue/HelveticaNeue.svg') format('svg');
}

@font-face {
  font-family: 'HelveticaNeueCyr-Bold';
  src: url('../fonts/helvetica_neue/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.otf')  format('opentype'),
       url('../fonts/helvetica_neue/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.ttf')  format('truetype');
}

@font-face {
  font-family: 'HelveticaNeueCyr-BoldItalic';
  src: url('../fonts/helvetica_neue/HelveticaNeueCyr-BoldItalic/HelveticaNeueCyr-BoldItalic.otf')  format('opentype'),
       url('../fonts/helvetica_neue/HelveticaNeueCyr-BoldItalic/HelveticaNeueCyr-BoldItalic.ttf')  format('truetype');
}

@font-face {
  font-family: 'HelveticaNeueCyr-Medium';
  src: url('../fonts/helvetica_neue/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.otf')  format('opentype'),
       url('../fonts/helvetica_neue/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.ttf')  format('truetype');
}

@font-face {
  font-family: 'HelveticaNeueLTStd-Hv';
  src: url('./fonts/helvetica_neue/HelveticaNeueLTStd-Hv/HelveticaNeueLTStd-Hv.otf')  format('opentype'),
       url('../fonts/helvetica_neue/HelveticaNeueLTStd-Hv/HelveticaNeueLTStd-Hv.ttf')  format('truetype');
}

@font-face {
  font-family: 'Novecentosanswide-DemiBold';
  src: url('../fonts/novecentosans_wide/Novecentosanswide-DemiBold.otf')  format('opentype'),
       url('../fonts/novecentosans_wide/Novecentosanswide-DemiBold.ttf')  format('truetype');
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/pacifico/Pacifico.eot') format('embedded-opentype'),
       url('../fonts/pacifico/Pacifico.woff') format('woff'),
       url('../fonts/helvetica_neue/../fonts/pacifico/Pacifico.ttf')  format('truetype'),
       url('../fonts/pacifico/Pacifico.svg') format('svg');
}
